[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=AudioPlayer
Exec=/opt/AudioPlayer/bin/AudioPlayer
Icon=AudioPlayer64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
